@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MyHotelSupplier</h1>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Easy for everyone</h2>
        <hr/>
        <p>MyHotelSupplier is a user friendly supplier management application for your business</p>
    </div>
    <div class="col-md-4">
        <h2>Do more in less time</h2>
        <hr/>
        <p>MyHotelSupplier gives you complete control over your suppliers. The user friendly interface saves time for the busy manager</p>

    </div>
    <div class="col-md-4">
        <h2>Access it from everywhere</h2>
        <hr/>
        <p>The application runs in the cloud so you can acceess it wherever you are</p>
    </div>
</div>