@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MySupplier</h1>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Welcome to MySupplier management application</h2>
        <p>MySupplier is a user friendly supplier management application for your business</p>
    </div>
    <div class="col-md-4">
        <h2>Do more in less time</h2>
        <p>MySupplier gives you complete control over your suppliers. The user friendly interface saves time for the busy manager</p>
        
    </div>
    <div class="col-md-4">
        <h2>Access it from everywhere</h2>
        <p>The application runs in the cloud so you can acceess it wherever you are</p>        
    </div>
</div>